@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html,body{
    height: 100%;
    width: 100%;
}

.heading{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
.container{
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;    
}

.button{
    color: black;
    background-color: white;
    padding: 20px;
    margin: 0 2px;
    border: 2.5px solid red;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover{
    background-color: #d6d6d6;
}
.row{
    margin: 5px 0;
}
.row input{
    font-size: 19px;
    margin: 0;
    padding: 10px 0px;
    border: 3px solid black;
    border-radius: 22px;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1px;
    padding-left: 100px;
}

